<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="sipua" type="pjsip4net.Configuration.SipUserAgentSettingsSection, pjsip4net, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <sipua srtp="Disabled" secureSignaling="0" logMessages="true"
      logLevel="3" traceAndDebug="true" autoAnswer="true" autoConference="true"
      maxCalls="5">
    <accounts>
      <account accountId="sip:1000@66.240.170.79:5080" registrarUri="sip:66.240.170.79:5080"
          userName="1000" password="1234" realm="*" isDefault="true"
          publishPresence="false" />
    </accounts>
    <sipTransport type="udp" Port="5060" />
    <networkSettings natInSDP="true" forceLooseRoute="false">
      <stun address="" />
      <turn enabled="false" server="" type="udp" userName="" password=""
          realm="" />
      <ice enabled="false" noRTCP="false" />
    </networkSettings>
    <media isVADEnabled="false" captureDeviceId="0" playbackDeviceId="2" />
  </sipua>
</configuration>